@import url('https://fonts.googleapis.com/css?family=Kodchasan');

.block {
    margin-top: 2.5%;
}

.font {
    font-family: 'Kodchasan', sans-serif;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-text-fname {
    padding: 10px;
    width: 240px;
    background-color: #e7eee0;
}

.bg-text-lname {
    padding: 10px;
    width: 165px;
    background-color: #e7eee0;
}

.bg-1 {
    background-color: #333333;
}

.bg-2 {
    background-color: #f9f9f5;
}

.marginbot {
    margin-bottom: 45px;
}

.marginright {
    margin-right: 80px; 
}

.marginleft {
    margin-left: 25px;
}

body {
    background-image: url('pic/1366-768-546673.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}